.add-review {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.8em;
    align-items: center;

    width: fit-content;
    padding: 1em;
    background-color: rgb(228, 174, 75);
    margin: 40px auto;
}

.add-review input {
    grid-column: 2;
}

.add-review .rating-group {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.add-review div {
    display: flex;
    gap: 1em;
    grid-column: 2;
    justify-self: end;
}