.red {
    color: red;
}

.green {
    color: green;
}

.book-details table {
    border: 1px solid black;
    border-collapse: collapse;

    margin-bottom: 1em;
}

.book-details th,
.book-details td {
    border: 1px solid black;
    padding: 0.5em 1em;
}

.book-details thead {
    background-color: lightgray;
}