.book-edit {
    display: grid;
    gap: .5em;

    width: fit-content;

    padding: 1em;
    background-color: rgb(228, 174, 75);
    margin: 100px auto;
}

.book-edit input {
    grid-column: 2;
}

.book-edit div {
    display: flex;
    gap: 1em;
    grid-column: 2;
    justify-self: end;
}